.code-box.setting-item {
  display: block !important;
  padding: 0.75em 0;
  border-top: 1px solid var(--background-modifier-border);
}

.code-box .setting-item-info {
  width: 100%;
  display: block;
}

.code-box .setting-item-name,
.code-box .setting-item-description {
  display: block;
  width: 100%;
}

.code-box .setting-item-control {
  width: 100%;
  margin-top: 0.75em;
}

.code-box .setting-item-control textarea {
  height: 15em;
  width: 100%;
  resize: none;
  font-family: monospace;
}

.code .setting-item-control select {
  font-family: monospace;
}

.hidden {
  display: none;
}
